### This file is used to create a doc2vec model for all the textual information available for items

#### Read user and item csv files

In [1]:
import pandas as pd
import gzip
from PIL import Image
from PIL import ImageOps
import urllib.request as urllib
import io
import numpy as np

def parse(path):
    g = gzip.open(path, 'rb')
    for line in g:
        yield eval(line)

def getDF(path):
    i = 0
    df = {}
    for d in parse(path):
        df[i] = d
        i += 1
    return pd.DataFrame.from_dict(df, orient='index')

df = getDF('reviews_Clothing_Shoes_and_Jewelry_5.json.gz')

In [2]:
df.head(10)

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A1KLRMWW2FWPL4,0000031887,"Amazon Customer ""cameramom""","[0, 0]",This is a great tutu and at a really great pri...,5.0,Great tutu- not cheaply made,1297468800,"02 12, 2011"
1,A2G5TCU2WDFZ65,0000031887,Amazon Customer,"[0, 0]",I bought this for my 4 yr old daughter for dan...,5.0,Very Cute!!,1358553600,"01 19, 2013"
2,A1RLQXYNCMWRWN,0000031887,Carola,"[0, 0]",What can I say... my daughters have it in oran...,5.0,I have buy more than one,1357257600,"01 4, 2013"
3,A8U3FAMSJVHS5,0000031887,Caromcg,"[0, 0]","We bought several tutus at once, and they are ...",5.0,"Adorable, Sturdy",1398556800,"04 27, 2014"
4,A3GEOILWLK86XM,0000031887,CJ,"[0, 0]",Thank you Halo Heaven great product for Little...,5.0,Grammy's Angels Love it,1394841600,"03 15, 2014"
5,A27UF1MSF3DB2,0000031887,"C-Lo ""Cynthia""","[0, 0]",I received this today and I'm not a fan of it ...,4.0,It's ok,1396224000,"03 31, 2014"
6,A16GFPNVF4Y816,0000031887,design maven,"[0, 0]",Bought this as a backup to the regular ballet ...,5.0,Great for dress-up and for ballet practice,1399075200,"05 3, 2014"
7,A2M2APVYIB2U6K,0000031887,Jamie P.,"[0, 0]",Great tutu for a great price. It isn't a &#34;...,5.0,Great value,1356220800,"12 23, 2012"
8,A1NJ71X3YPQNQ9,0000031887,JBerger,"[0, 0]","My daughter liked this, and it with her costum...",4.0,Good,1384041600,"11 10, 2013"
9,A3EERSWHAI6SO,0000031887,"Jeffrey Hollingshead ""Jillian hollingshead""","[7, 8]",For what I paid for two tutus is unbeatable an...,5.0,WOW !! ..is all I have to say!,1349568000,"10 7, 2012"

In [3]:
import pandas as pd
import gzip

def parse(path):
    g = gzip.open(path, 'rb')
    for line in g:
        yield eval(line)

def getDF(path):
    i = 0
    df2 = {}
    for d in parse(path):
        df2[i] = d
        i += 1
    return pd.DataFrame.from_dict(df2, orient='index')

df2 = getDF('meta_Clothing_Shoes_and_Jewelry.json.gz')

In [4]:
df2.head(10)

,asin,related,title,price,salesRank,imUrl,brand,categories,description
0,0000037214,"{'also_viewed': ['B00JO8II76', 'B00DGN4R1Q', '...",Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,6.99,{'Clothing': 1233557},http://ecx.images-amazon.com/images/I/31mCncNu...,Big Dreams,"[[Clothing, Shoes & Jewelry, Girls], [Clothing...",NaN
1,0000031887,"{'also_bought': ['0000031852', '0000031895', '...",Ballet Dress-Up Fairy Tutu,6.79,{'Sports &amp; Outdoors': 8547},http://ecx.images-amazon.com/images/I/314qZjYe...,Boutique Cutie,"[[Clothing, Shoes & Jewelry, Girls, Clothing, ...",This adorable basic ballerina tutu is perfect ...
2,0123456479,"{'also_bought': ['B000BMTCK6', 'B0006JCGUM', '...",SHINING IMAGE HUGE PINK LEATHER JEWELRY BOX / ...,64.98,{'Kitchen & Dining': 16987},http://ecx.images-amazon.com/images/I/413tGhqo...,NaN,"[[Clothing, Shoes & Jewelry, Novelty, Costumes...",Elegance par excellence. Hand-crafted of the f...
3,0456844570,"{'also_viewed': ['B008MTRT1O', 'B00BUG47S4', '...",RiZ Women's Beautify Crafted &frac12; Rimmed F...,NaN,{'Clothing': 1180499},http://ecx.images-amazon.com/images/I/31QZTHxv...,NaN,"[[Clothing, Shoes & Jewelry, Women, Accessorie...",NaN
4,0456808574,"{'also_viewed': ['B00A6JD8EA', 'B00BFL4FTA', '...",Lantin White Visor Wrap Around Ski Style Aviat...,NaN,{'Clothing': 1038084},http://ecx.images-amazon.com/images/I/31UsrgT5...,NaN,"[[Clothing, Shoes & Jewelry, Women, Accessorie...",NaN
5,0456830197,{'also_bought': ['729300236X']},NVC Unisex Light Weight Silver 'Dakota' Glasse...,NaN,{'Shoes': 257607},http://ecx.images-amazon.com/images/I/21PGEX1t...,NaN,"[[Clothing, Shoes & Jewelry, Women, Accessorie...",NaN
6,0456856293,"{'also_viewed': ['B005P1HF2U', 'B006K5JWOE', '...",Kismeth Eyewear Classic Large Top Gun Aviator ...,NaN,{'Shoes': 399415},http://ecx.images-amazon.com/images/I/31-NheYD...,NaN,"[[Clothing, Shoes & Jewelry, Women, Accessorie...",NaN
7,0456840532,"{'also_viewed': ['B001K9DPPC', 'B00BV9MU2K', '...",Max-MPH Black - Large Wayfarer Sunglasses Avai...,NaN,{'Clothing': 2728771},http://ecx.images-amazon.com/images/I/11q4qGCd...,NaN,"[[Clothing, Shoes & Jewelry, Women, Accessorie...",NaN
8,0456787283,"{'also_viewed': ['B00AIPLH22', 'B005P1H8KO', '...",FX1 Small Adult Aviator Sunglasses with Silver...,NaN,{'Clothing': 456854},http://ecx.images-amazon.com/images/I/31dS6eGu...,NaN,"[[Clothing, Shoes & Jewelry, Women, Accessorie...",NaN
9,0456838384,"{'also_viewed': ['B001K9DPPC', 'B0042FHTDK', '...",Riz Small Unisex (Mens/ Womens) Black Classic ...,NaN,{'Clothing': 437391},http://ecx.images-amazon.com/images/I/31b1J21i...,NaN,"[[Clothing, Shoes & Jewelry, Women, Accessorie...",NaN

#### Explore information available and create columns for relevant information

In [5]:
df2['sub-categories'] = df2.apply (lambda row: row['categories'][0][-1],axis=1)
df2['top-categories'] = df2.apply (lambda row: row['categories'][0][1],axis=1)

In [6]:
df2["sub-categories"][1:10]

1    Active Skirts
2    Jewelry Boxes
3       Sunglasses
4       Sunglasses
5       Sunglasses
6       Sunglasses
7       Sunglasses
8       Sunglasses
9       Sunglasses
Name: sub-categories, dtype: object

In [7]:
df2["top-categories"][1:10]

1                       Girls
2    Novelty, Costumes & More
3                       Women
4                       Women
5                       Women
6                       Women
7                       Women
8                       Women
9                       Women
Name: top-categories, dtype: object

In [8]:
df2['related2'] = df2.apply (lambda row: row['related'],axis=1)
df2['related2'][1:10]

1    {'also_bought': ['0000031852', '0000031895', '...
2    {'also_bought': ['B000BMTCK6', 'B0006JCGUM', '...
3    {'also_viewed': ['B008MTRT1O', 'B00BUG47S4', '...
4    {'also_viewed': ['B00A6JD8EA', 'B00BFL4FTA', '...
5                      {'also_bought': ['729300236X']}
6    {'also_viewed': ['B005P1HF2U', 'B006K5JWOE', '...
7    {'also_viewed': ['B001K9DPPC', 'B00BV9MU2K', '...
8    {'also_viewed': ['B00AIPLH22', 'B005P1H8KO', '...
9    {'also_viewed': ['B001K9DPPC', 'B0042FHTDK', '...
Name: related2, dtype: object

In [9]:
df_items = df2[['title','price','brand','description','sub-categories','top-categories','categories']]

In [10]:
df_items.head()

,title,price,brand,description,sub-categories,top-categories,categories
0,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,6.99,Big Dreams,NaN,Girls,Girls,"[[Clothing, Shoes & Jewelry, Girls], [Clothing..."
1,Ballet Dress-Up Fairy Tutu,6.79,Boutique Cutie,This adorable basic ballerina tutu is perfect ...,Active Skirts,Girls,"[[Clothing, Shoes & Jewelry, Girls, Clothing, ..."
2,SHINING IMAGE HUGE PINK LEATHER JEWELRY BOX / ...,64.98,NaN,Elegance par excellence. Hand-crafted of the f...,Jewelry Boxes,"Novelty, Costumes & More","[[Clothing, Shoes & Jewelry, Novelty, Costumes..."
3,RiZ Women's Beautify Crafted &frac12; Rimmed F...,NaN,NaN,NaN,Sunglasses,Women,"[[Clothing, Shoes & Jewelry, Women, Accessorie..."
4,Lantin White Visor Wrap Around Ski Style Aviat...,NaN,NaN,NaN,Sunglasses,Women,"[[Clothing, Shoes & Jewelry, Women, Accessorie..."

#### Get words function takes title, brand, description and categories for each item and combines them into one sentence

In [32]:

def get_words(title,brand,description,categories):
    sentence = ""
    if isinstance(title, str):
        sentence = sentence + title+ " "
    if isinstance(brand, str):
        sentence = sentence + brand+ " "
    if isinstance(description, str):
        sentence = sentence + description+ " "
    if isinstance(categories, list):
        sentence = sentence + ' '.join(str(r).replace(',', '') for v in categories for r in v)+ " "
        
    return sentence

#### Apply get_words function to all items in dataset

In [33]:
df_items['all_words'] = df_items.apply (lambda row: get_words(row["title"],row["brand"],row["description"],row["categories"]),axis=1)

C:\Users\Kiran\AppData\Local\Continuum\anaconda3\envs\env2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [87]:
df_items['all_words'][450]

"CASIO LA11WB-1 Ladies Watch Casio Splash-resistant, classically casual Woman's digital watch with stopwatch and timer Clothing Shoes & Jewelry Women Watches Wrist Watches "

#### Create doc2vec model for all textual information of items

In [35]:
import gensim
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from nltk.tokenize import word_tokenize
import numpy as np
import pandas as pd
from sklearn.manifold import TSNE
import matplotlib.pyplot as plt
import glob

#### Create corpus of words

In [36]:
corpus = df_items["all_words"].tolist()

In [37]:
tagged_data = [TaggedDocument(words=word_tokenize(_d.lower()), tags=[str(i)]) for i, _d in enumerate(corpus)]

In [52]:
tagged_data[0]

TaggedDocument(words=['purple', 'sequin', 'tiny', 'dancer', 'tutu', 'ballet', 'dance', 'fairy', 'princess', 'costume', 'accessory', 'big', 'dreams', 'clothing', 'shoes', '&', 'jewelry', 'girls', 'clothing', 'shoes', '&', 'jewelry', 'novelty', 'costumes', '&', 'more', 'costumes', '&', 'accessories', 'more', 'accessories', 'kids', '&', 'baby'], tags=['0'])

#### Represent each document as a vector of size 15

In [72]:
max_epochs = 1
vec_size = 15
alpha = 0.025

model = Doc2Vec(size=vec_size,alpha=alpha,dm =1)
  
model.build_vocab(tagged_data)

for epoch in range(max_epochs):
    print('iteration {0}'.format(epoch))
    model.train(tagged_data,total_examples=model.corpus_count,epochs=model.iter)
    model.alpha -= 0.0002
    model.min_alpha = model.alpha

iteration 0

C:\Users\Kiran\AppData\Local\Continuum\anaconda3\envs\env2\lib\site-packages\ipykernel_launcher.py:11: DeprecationWarning: Call to deprecated `iter` (Attribute will be removed in 4.0.0, use self.epochs instead).
  # This is added back by InteractiveShellApp.init_path()

iteration 1
iteration 2
iteration 3
iteration 4
iteration 5
iteration 6
iteration 7
iteration 8
iteration 9
iteration 10
iteration 11
iteration 12
iteration 13
iteration 14
iteration 15
iteration 16
iteration 17
iteration 18
iteration 19
iteration 20
iteration 21
iteration 22
iteration 23
iteration 24
iteration 25
iteration 26
iteration 27
iteration 28
iteration 29
iteration 30
iteration 31
iteration 32
iteration 33
iteration 34
iteration 35
iteration 36
iteration 37
iteration 38
iteration 39
iteration 40
iteration 41
iteration 42
iteration 43
iteration 44
iteration 45
iteration 46
iteration 47
iteration 48
iteration 49
iteration 50
iteration 51
iteration 52
iteration 53
iteration 54
iteration 55
iteration 56
iteration 57
iteration 58
iteration 59
iteration 60
iteration 61
iteration 62
iteration 63
iteration 64
iteration 65
iteration 66
iteration 67
iteration 68
iteration 69
iteration 70
iteration 71
iteration 72
iteration 73
iteration 74
iteration 75
iteration 76
iteration 77
iteration 78
iteration 79
iteration 80
iteration 81
iteration 82
iteration 83
iteration 84
iteration 85
iteration 86
iteration 87
iteration 88
iteration 89
iteration 90
iteration 91
iteration 92
iteration 93
iteration 94
iteration 95
iteration 96
iteration 97
iteration 98
iteration 99

#### Take a test items and find similar items in corpus

In [88]:
tokens = "CASIO LA11WB-1 Ladies Watch Casio Splash-resistant, classically casual Woman's digital watch with stopwatch and timer Clothing Shoes & Jewelry Women Watches Wrist Watches ".split()

new_vector = model.infer_vector(tokens)
sims = model.docvecs.most_similar([new_vector])
sims

[('882183', 0.9080591797828674),
 ('763211', 0.9077495336532593),
 ('988855', 0.9048336744308472),
 ('319913', 0.9025505185127258),
 ('137114', 0.9006561040878296),
 ('118624', 0.9002074003219604),
 ('1239735', 0.8999005556106567),
 ('21914', 0.8956171274185181),
 ('470153', 0.893549919128418),
 ('74237', 0.8911838531494141)]

In [89]:
df_items['all_words'][882183]

"Tommy Hilfiger Men's 1790859 Black Leather Analog Quartz Watch with Grey Dial Clothing Shoes & Jewelry Fashion Watches Clothing Shoes & Jewelry T Tommy Hilfiger Clothing Shoes & Jewelry Men Watches Wrist Watches "

In [90]:
df_items['all_words'][763211]

"Casio Men's DW5600BB-1 Black Resin Quartz Watch with Digital Dial Clothing Shoes & Jewelry Men Watches Wrist Watches "

In [91]:
df_items['all_words'][988855]

"Casio Men's PRGS510-1 Black Resin Quartz Watch with Grey Dial Clothing Shoes & Jewelry Men Watches Wrist Watches "

In [92]:
df_items['all_words'][319913]

'Nixon 51-30 Chrono Blue Dial Custom Solid Stainless Steel Mens Watch A083690 Clothing Shoes & Jewelry Fashion Watches Clothing Shoes & Jewelry Nixon Watches Clothing Shoes & Jewelry Men Watches Wrist Watches '

#### The similar items are wrist watches which is the same category as test item.

#### Save the model

In [93]:
model.save("d2v_final.model")
print("Model Saved")

Model Saved